.navbar-light .navbar-nav {
  padding-top: 15px;
  padding-bottom: 15px; }
  .navbar-light .navbar-nav .nav-item .nav-link {
    font-size: 16px;
    margin-left: 50px;
    position: relative; }
    .navbar-light .navbar-nav .nav-item .nav-link:hover {
      background-color: #f5bc04;
      color: #FFF; }
      .navbar-light .navbar-nav .nav-item .nav-link:hover::after {
        position: absolute;
        content: '';
        border-bottom: 2px solid #f8f9fa;
        border-left: 3px solid #f5bc04;
        border-right: 11px solid #f8f9fa;
        border-top: 7px solid #f5bc04;
        background-color: #f5bc04;
        width: 0px;
        height: 0px;
        top: 100%;
        left: 0; }
  .navbar-light .navbar-nav .active .nav-link {
    color: #FFF;
    font-weight: bold;
    padding-left: 18px;
    padding-right: 18px;
    position: relative;
    background-color: #f5bc04; }
    .navbar-light .navbar-nav .active .nav-link::after {
      position: absolute;
      content: '';
      border-bottom: 2px solid #f8f9fa;
      border-left: 3px solid #f5bc04;
      border-right: 11px solid #f8f9fa;
      border-top: 7px solid #f5bc04;
      background-color: #f5bc04;
      width: 0px;
      height: 0px;
      top: 100%;
      left: 0; }

.upper-bar {
  padding-top: 30px;
  padding-bottom: 30px; }
  .upper-bar .img-bar {
    height: 65px; }
  .upper-bar .icons {
    margin-top: 10px;
    text-align: center; }
    .upper-bar .icons a {
      text-align: center;
      margin-left: 45px;
      color: #777777;
      padding: 5px;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
      .upper-bar .icons a:hover {
        border: 1px solid #f5bc04;
        border-radius: 50%; }
      .upper-bar .icons a i {
        width: 40px;
        height: 40px; }
  .upper-bar .dropdown {
    color: #777777; }
    .upper-bar .dropdown button {
      background-color: #FFF;
      color: #777777;
      margin-top: 13px; }
      .upper-bar .dropdown button:hover, .upper-bar .dropdown button:active, .upper-bar .dropdown button:visited {
        color: #777777;
        background-color: #FFF;
        border-color: #777777; }

.bannar {
  min-height: 400px;
  overflow: hidden; }
  .bannar .gallary {
    width: 100%;
    height: 100%;
    position: relative;
    color: #FFF;
    transition: all 0.5s ease; }
    .bannar .gallary:hover {
      transform: scale(1.05); }
    .bannar .gallary h3 {
      position: absolute;
      margin: 174px 30px;
      font-size: 14px; }
    .bannar .gallary p {
      position: absolute;
      margin: 188px 30px;
      font-size: 21px;
      font-weight: 600; }
  .bannar .img-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url("../imgs/nick-karvounis-78711.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 600px; }
    .bannar .img-1 h3 {
      position: absolute;
      margin: 400px 30px; }
    .bannar .img-1 p {
      position: absolute;
      margin: 417px 30px; }
  .bannar .img-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url("../imgs/10-1-1-875x500.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 300px; }
  .bannar .img-3 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url("../imgs/ryan-moreno-98837.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 300px; }
  .bannar .img-4 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url("../imgs/science-578x362.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 300px; }
  .bannar .img-5 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url("../imgs/joe-gardner-75333.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 300px; }

/** Carsousel Slider1 **/
.slider {
  margin-top: 60px; }
  .slider .head-slider {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px; }
  .slider hr {
    background-color: #00000085;
    margin-top: -7px;
    margin-bottom: 26px; }
  .slider .owl-carousel {
    position: relative; }
    .slider .owl-carousel .owl-nav {
      position: absolute;
      top: -87px;
      right: 1%; }
      .slider .owl-carousel .owl-nav .owl-prev,
      .slider .owl-carousel .owl-nav .owl-next {
        color: #424040;
        font-size: 14px;
        margin: 5px;
        padding: 6px 14px;
        background: #D6D6D6;
        display: inline-block;
        cursor: pointer;
        border-radius: 3px;
        transition: all 0.5s; }
        .slider .owl-carousel .owl-nav .owl-prev span,
        .slider .owl-carousel .owl-nav .owl-next span {
          padding: 15px;
          font-size: 23px; }
    .slider .owl-carousel .item .link-item {
      position: absolute;
      color: #FFF;
      top: 225px;
      left: 19px;
      font-size: 15px; }
    .slider .owl-carousel .item .disc-item {
      position: absolute;
      top: 275px;
      color: #979799;
      left: 20px; }
    .slider .owl-carousel .item-1 {
      background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)), url("../imgs/ryan-moreno-98837.jpg") no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      height: 326px;
      position: relative; }
    .slider .owl-carousel .item-2 {
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url("../imgs/abigail-keenan-65477.jpg") no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      height: 326px; }
    .slider .owl-carousel .item-3 {
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url("../imgs/allef-vinicius-108153.jpg") no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      height: 326px; }
    .slider .owl-carousel .item-4 {
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url("../imgs/science-578x362.jpg") no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      height: 326px; }

/** Carsousel Slider2 **/
.slider-2 {
  margin-top: 60px; }
  .slider-2 .head-slider {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px; }
  .slider-2 hr {
    background-color: #00000085;
    margin-top: -7px;
    margin-bottom: 26px; }
  .slider-2 .owl-carousel {
    position: relative; }
    .slider-2 .owl-carousel .owl-nav {
      position: absolute;
      top: -87px;
      right: 1%; }
      .slider-2 .owl-carousel .owl-nav .owl-prev,
      .slider-2 .owl-carousel .owl-nav .owl-next {
        color: #424040;
        font-size: 14px;
        margin: 5px;
        padding: 6px 14px;
        background: #D6D6D6;
        display: inline-block;
        cursor: pointer;
        border-radius: 3px;
        transition: all 0.5s; }
        .slider-2 .owl-carousel .owl-nav .owl-prev span,
        .slider-2 .owl-carousel .owl-nav .owl-next span {
          padding: 15px;
          font-size: 23px; }

/*slider-3 */
.slider-3 {
  margin-top: 60px; }
  .slider-3 .head-slider {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px; }
  .slider-3 hr {
    background-color: #00000085;
    margin-top: -7px;
    margin-bottom: 26px; }
  .slider-3 .owl-carousel {
    position: relative; }
    .slider-3 .owl-carousel .owl-nav {
      position: absolute;
      top: -87px;
      right: 1%; }
      .slider-3 .owl-carousel .owl-nav .owl-prev,
      .slider-3 .owl-carousel .owl-nav .owl-next {
        color: #424040;
        font-size: 14px;
        margin: 5px;
        padding: 6px 14px;
        background: #D6D6D6;
        display: inline-block;
        cursor: pointer;
        border-radius: 3px;
        transition: all 0.5s; }
        .slider-3 .owl-carousel .owl-nav .owl-prev span,
        .slider-3 .owl-carousel .owl-nav .owl-next span {
          padding: 15px;
          font-size: 23px; }

/* news */
.news {
  margin-top: 60px; }
  .news .head-slider,
  .news .head-tag {
    font-size: 30px;
    font-weight: 400; }
    .news .head-slider::after,
    .news .head-tag::after {
      content: '';
      height: 1px;
      background-color: #000000c9;
      top: 52px;
      bottom: 0;
      left: 13px;
      right: 30px;
      position: absolute; }
  .news .elnew {
    margin-top: 20px; }
  .news .new-image {
    width: 100%;
    height: 230px;
    margin-top: 14px;
    border-radius: 5px; }
  .news .news-link {
    font-size: 16px;
    color: #222;
    font-weight: 700;
    cursor: pointer;
    line-height: 2.5; }
  .news .news-date {
    font-size: 14px;
    color: #222;
    display: inline-block; }
    .news .news-date:hover {
      color: #f5bc04; }
  .news .news-disc {
    font-size: 14px;
    color: #777;
    font-weight: 445;
    margin-top: 10px; }
  .news .new-list {
    font-size: 12px;
    color: #777;
    font-weight: 445;
    margin-top: 10px;
    line-height: 2.5;
    margin-left: -24px; }
  .news .all-tags {
    margin-top: -817px;
    margin-left: 15px; }
    .news .all-tags .tag {
      background: #f1f1f1;
      padding: 10px 15px;
      color: #222;
      margin-top: 5px;
      margin-bottom: 5px;
      margin-right: 8px;
      display: inline-block;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
      .news .all-tags .tag:hover {
        background-color: #f5bc04;
        color: #FFF;
        text-decoration: none; }
    .news .all-tags .popular .head-popular {
      font-size: 30px;
      font-weight: 400;
      margin-left: -10px;
      margin-top: 10px; }
      .news .all-tags .popular .head-popular::after {
        content: '';
        height: 1px;
        background-color: #000000c9;
        top: 330px;
        bottom: 0;
        left: 0px;
        right: 30px;
        position: absolute; }
    .news .all-tags .popular .popular-new {
      margin-top: 19px;
      margin-left: -13px; }
      .news .all-tags .popular .popular-new .pop-disc {
        padding: 0;
        margin-top: 6px; }
      .news .all-tags .popular .popular-new .popular-image {
        width: 100%;
        height: 60px;
        margin-top: 14px;
        border-radius: 5px; }
      .news .all-tags .popular .popular-new .popular-link {
        font-size: 13px;
        color: #222;
        font-weight: 500;
        cursor: pointer; }
      .news .all-tags .popular .popular-new .popular-date {
        font-size: 12px;
        color: #777; }

.footer {
  background-color: #222;
  height: 700px;
  -webkit-clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%); }
  .footer .img-footer {
    width: 140px;
    margin-top: 70px;
    margin-right: 70px; }
  .footer .coloms {
    margin-left: 15px; }
    .footer .coloms .head-fo {
      margin-top: 230px;
      color: #FFF;
      margin-bottom: 20px; }
    .footer .coloms .about p {
      color: #C9C8C8;
      font-size: 14px;
      font-weight: bold;
      margin-top: 15px;
      width: 121%; }
    .footer .coloms .about .icons-footer {
      margin-top: 10px; }
      .footer .coloms .about .icons-footer a {
        text-align: center;
        margin-right: -5px;
        color: #777777;
        padding: 2px;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
        .footer .coloms .about .icons-footer a:hover {
          border: 1px solid #f5bc04;
          border-radius: 50%; }
        .footer .coloms .about .icons-footer a i {
          width: 40px;
          height: 40px; }
    .footer .coloms .category h5 {
      margin-left: 53px; }
    .footer .coloms .category .footer-menu {
      width: 155%;
      margin-left: 17px;
      margin-top: 25px; }
      .footer .coloms .category .footer-menu li {
        color: #FFF;
        list-style: none;
        margin-bottom: 15px; }
        .footer .coloms .category .footer-menu li a:hover {
          padding: 10px;
          color: #f5bc04;
          -webkit-transition: all .5s ease;
          -moz-transition: all .5s ease;
          -o-transition: all .5s ease;
          transition: all .5s ease;
          cursor: pointer; }
        .footer .coloms .category .footer-menu li i {
          margin-right: 10px; }
    .footer .coloms .most-viewd h5 {
      margin-left: 95px;
      width: 100%; }
    .footer .coloms .most-viewd .timeline {
      position: relative;
      width: 180%;
      margin-left: 56px; }
      .footer .coloms .most-viewd .timeline::before {
        content: '';
        position: absolute;
        width: 1px;
        height: 100%;
        background: #FFF;
        left: 22px; }
      .footer .coloms .most-viewd .timeline ul {
        color: #FFF;
        list-style: none; }
        .footer .coloms .most-viewd .timeline ul li {
          line-height: normal;
          position: relative;
          width: 70%;
          margin-bottom: 25px; }
          .footer .coloms .most-viewd .timeline ul li::before {
            content: '';
            position: absolute;
            width: 13px;
            height: 13px;
            border-radius: 50%;
            background: #f5bc04;
            border: 3px solid #000;
            left: -23px;
            top: 27px; }
          .footer .coloms .most-viewd .timeline ul li .date {
            color: #777; }
          .footer .coloms .most-viewd .timeline ul li a {
            color: #FFF; }
            .footer .coloms .most-viewd .timeline ul li a:hover {
              color: #f5bc04; }
    .footer .coloms .posts h5 {
      margin-left: 160px;
      width: 100%; }
    .footer .coloms .posts .gallary {
      margin-left: 150px;
      width: 150%; }
      .footer .coloms .posts .gallary .post-link {
        overflow: hidden;
        margin: 10px 10px;
        display: inline-block; }
        .footer .coloms .posts .gallary .post-link img {
          width: 95px;
          height: 50px; }
  .footer .input-gp {
    display: flex;
    position: relative; }
    .footer .input-gp .emailIcon {
      color: #FFF;
      border-right: 1px solid #777;
      border-left: 1px solid #777;
      padding-right: 15px;
      padding-left: 15px;
      padding-top: 14px;
      border-radius: 5px;
      margin-top: 5px;
      border-bottom: 2px solid #FFF; }
    .footer .input-gp .text-box {
      color: #777;
      font-size: 19px;
      padding-bottom: 16px;
      background: none;
      border: none;
      margin-top: 10px;
      border-bottom: 2px solid #FFF; }
    .footer .input-gp .subscribe {
      border-bottom: 2px solid;
      border-radius: 5px;
      color: #FFF;
      background-color: #f5bc04;
      width: 29%;
      font-size: 17px;
      padding-top: 13px;
      padding-left: 20px; }
      .footer .input-gp .subscribe:hover {
        border-bottom: 2px solid;
        box-shadow: none;
        color: #FFF; }

.end {
  background-color: #000;
  padding: 30px; }
  .end .end-info {
    color: #FFF;
    display: inline-block; }
  .end .end-link {
    color: #f5bc04; }
  .end .end-nav {
    margin-top: -8px; }
    .end .end-nav .nav-link {
      float: left;
      color: #FFF;
      font-weight: bold; }

/*# sourceMappingURL=main.css.map */
